<div  class="container_48">
	<div  class="grid_48">
		<div id="content" class="grid_44 push_2"><!--actual content-->
			<div id="main-left" class="grid_20 push_1 alpha"><!--Left main content -->
				<h1>Who are we?</h1>
				<p>We are a team of students headed by <a href="http://alex-mejias.com">Alex Mejias</a> from Queens Collge, who has realized that for a variety of reasons, people are not concious of the enviroment and their impact on it. The team behind Greenserve has realized that in order to persuade people that there are benefits to going "green", we have crated Greenserve.</p>
			</div>
			<div id="main-right" class="grid_21 push_3 omega">
				<h1>Why?</h1>
				<p>The main reason why we have spent so much time and effort into building this website is so people can visually see how some of the actions they can take can save them a lot of money. At Greenserve we realized that just by telling people to go "green" will not help or do anything. In order to motivate people to take more consious decisions we will try to show them that they can truly save money, and the more 'tips' you follow, the more money you will be able to see.</p>
			</div>
		</div>
	</div>
</div>
