<div class="container_48">
	<div class="grid_48">
		<div id="content" class="grid_44 push_2"><!--actual content-->
			<div id="main-left" class="grid_20 push_1 alpha"><!--Left main content -->
				<h1>Our Mission</h1>
			</div>
		</div>
	</div>
</div>
