<div class="container_48">
	<div class="grid_48">
		<div id="content" class="grid_44 push_2"><!--actual content-->
			<div id="main-left" class="grid_20 push_1 alpha"><!--Left main content -->
				<h1>Why save?</h1>
				<p class="white">Energy saving is very important to all of us for many different reasons. The aim of "greenserving" is to provide no-cost, low-cost and sometimes even projects to help you save water, electricity, or paper, whether youare mainly doing it for the money or the enviroment. </p>
				<br /><br />
				<p class="white">When it comes to conserving resources, the tips in this website are divided into three categories of cost and effort.</p>
				<ul class="info_list">
					<li><p class="white"><b>No-Cost</b> tips involve slight behavioral changes from the user, tips like these involve turning off lights, and closing doors.</p></li>
					<li><p class="white"><b>Low-cost</b> tips involve buying products that conserve and have a relatevely low price range. </p></li>
					<li><p class="white"><b>Investments</b> are the most expensive tips on the site, but they are the biggest conservers on resources in the long run.</p></li>
				</ul>
			</div>
			<div id="main-right" class="grid_21 push_3 omega">
				<h1>&nbsp;</h1>
					<p class="white">These are some of the reasons why you might want to think about conserving:</p>
					<ul class="info_list">
						<li><p class="white">Depending on your actions, you can save a lot of money each year.</p></li>
						<li><p class="white">It makes for a more appealing home to sell if you ever try to sell it.</p></li>
						<li><p class="white">The price of utilities will keeping increasing as time pases by.</p></li>
						<li><p class="white">You will feel a lot better once you know you are saving money and the right thing.</p></li>
					</ul>
			</div> <!--end left main content -->
		</div>
		<div id="main-lower-left" class="grid_14 push_2 alpha">
			<h2></h2>
		</div>
		<div id="main-lower-middle" class="grid_14  push_3 ">
			<h2></h2>
		</div>
		<div id="main-lower-right" class="grid_14  push_4 omega">
			<h2></h2>
		</div>
	</div>
</div>