<div class="container_48">
	<div class="grid_48 push_2">
		<div id="banner" class="grid_44">
			<div id="lofslidecontent45" class="lof-slidecontent" style="width:880px; height:280px;">
				<div class="preload">
					<div></div>
				</div>
				<div class="lof-main-outer" style="width:880px; height:280px;">
					<ul class="lof-main-wapper">
						<li>
							<img src="img/slide/main/1.jpg" title="" />
							<div class="lof-main-item-desc">
								<h1><a href="#">&nbsp;Here to teach you<br/>  &nbsp;how to save <b>money</b><br/> &nbsp;and the <b>planet.</b></a></h1>
								{{--<'.$title_size.'><a href="'.$link_loc.'">'.$title_1.'</a></'.$title_size.'>--}}
							</div>
						</li>
					</ul>
				</div>
				<div class="lof-navigator-wapper">
					<div class="lof-navigator-outer">
						<ul class="lof-navigator">
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>