<div class="container_48">
	<div class="grid_48 push_2">
		<div id="banner" class="grid_44">
			<ul>
				<li class="first">
					<%= image_tag("slider/main/1.jpg") %>
					<div class="image_text">
						<a href="#"><h1>Here to teach you<br/>how to save <b>money</b><br/>and the <b>planet.</b></h1></a>
					</div>
				</li>
				<li class="two">
					<%= image_tag("slider/main/2.jpg") %>
					<div class="image_text">
						<h1><a href="#">&nbsp;Here to teach you<br/>  &nbsp;how to save <b>money</b><br/> &nbsp;and the <b>planet.</b></a></h1>
					</div>
				</li>
				<li class="third">
					<%= image_tag("slider/main/3.jpg") %>
					<div class="image_text">
						<h1><a href="#">&nbsp;Here to teach you<br/>  &nbsp;how to save <b>money</b><br/> &nbsp;and the <b>planet.</b></a></h1>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<script>
	var ul = $('#banner ul');

	$('#banner ul li').off().on('click',function() {
		$('#banner ul li').animate({
			right: '+=880'
			}, 1000, function() {
			$('#banner ul li:first').css('right', ($('#banner ul li').length - 1) * 880).appendTo($('#banner ul'));
		});
	});
</script>