@font-face {
	font-family: 'museo_slab';
	src: url('museo_slab_500-webfont.eot');
	src: url('museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
			 url('museo_slab_500-webfont.woff') format('woff'),
			 url('museo_slab_500-webfont.ttf') format('truetype'),
			 url('museo_slab_500-webfont.svg#MuseoSlab500') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'museo_slab';
	src: url('museo_slab_700-webfont.eot');
	src: url('museo_slab_700-webfont.eot?#iefix') format('embedded-opentype'),
			 url('museo_slab_700-webfont.woff') format('woff'),
			 url('museo_slab_700-webfont.ttf') format('truetype'),
			 url('museo_slab_700-webfont.svg#MuseoSlab700') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'museo_sans';
	src: url('museosans-100-webfont.eot');
	src: url('museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
			 url('museosans-100-webfont.woff') format('woff'),
			 url('museosans-100-webfont.ttf') format('truetype'),
			 url('museosans-100-webfont.svg#MuseoSans100') format('svg');
	font-weight: 100;
	font-style: normal;
}