.container_48 {
	margin-left:auto;
	margin-right:auto;
	width:960px;
}

.alpha {
	margin-left:0 !important;
}

.omega {
	margin-right:0 !important;
}

 .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18, .grid_19, .grid_20, .grid_21, .grid_22, .grid_23, .grid_24, .grid_25, .grid_26, .grid_27, .grid_28, .grid_29, .grid_30, .grid_31, .grid_32, .grid_33, .grid_34, .grid_35, .grid_36, .grid_37, .grid_38, .grid_39, .grid_40, .grid_41, .grid_42, .grid_43, .grid_44, .grid_45, .grid_46, .grid_47, .grid_48 {
	display:inline;
	float:left;
	position:relative;
	margin-left:0.0px;
	margin-right:0.0px;
}

.container_48 {
 	.grid_1 { width:20px; }

	.grid_2 { width:40px; }

	.grid_3 { width:60px; }

	.grid_4 { width:80px; }

	.grid_5 { width:100px; }

	.grid_6 { width:120px; }

	.grid_7 { width:140px; }

	.grid_8 { width:160px; }

	.grid_9 { width:180px; }

	.grid_10 { width:200px; }

	.grid_11 { width:220px; }

	.grid_12 { width:240px; }

	.grid_13 { width:260px; }

	.grid_14 { width:280px; }

	.grid_15 { width:300px; }

	.grid_16 { width:320px; }

	.grid_17 { width:340px; }

	.grid_18 { width:360px; }

	.grid_19 { width:380px; }

	.grid_20 { width:400px; }

	.grid_21 { width:420px; }

	.grid_22 { width:440px; }

	.grid_23 { width:460px; }

	.grid_24 { width:480px; }

	.grid_25 { width:500px; }

	.grid_26 { width:520px; }

	.grid_27 { width:540px; }

	.grid_28 { width:560px; }

	.grid_29 { width:580px; }

	.grid_30 { width:600px; }

	.grid_31 { width:620px; }

	.grid_32 { width:640px; }

	.grid_33 { width:660px; }

	.grid_34 { width:680px; }

	.grid_35 { width:700px; }

	.grid_36 { width:720px; }

	.grid_37 { width:740px; }

	.grid_38 { width:760px; }

	.grid_39 { width:780px; }

	.grid_40 { width:800px; }

	.grid_41 { width:820px; }

	.grid_42 { width:840px; }

	.grid_43 { width:860px; }

	.grid_44 { width:880px; }

	.grid_45 { width:900px; }

	.grid_46 { width:920px; }

	.grid_47 { width:940px; }

	.grid_48 { width:960px; }

	.prefix_1 { padding-left:20px; }

	.prefix_2 { padding-left:40px; }

	.prefix_3 { padding-left:60px; }

	.prefix_4 { padding-left:80px; }

	.prefix_5 { padding-left:100px; }

	.prefix_6 { padding-left:120px; }

	.prefix_7 { padding-left:140px; }

	.prefix_8 { padding-left:160px; }

	.prefix_9 { padding-left:180px; }

	.prefix_10 { padding-left:200px; }

	.prefix_11 { padding-left:220px; }

	.prefix_12 { padding-left:240px; }

	.prefix_13 { padding-left:260px; }

	.prefix_14 { padding-left:280px; }

	.prefix_15 { padding-left:300px; }

	.prefix_16 { padding-left:320px; }

	.prefix_17 { padding-left:340px; }

	.prefix_18 { padding-left:360px; }

	.prefix_19 { padding-left:380px; }

	.prefix_20 { padding-left:400px; }

	.prefix_21 { padding-left:420px; }

	.prefix_22 { padding-left:440px; }

	.prefix_23 { padding-left:460px; }

	.prefix_24 { padding-left:480px; }

	.prefix_25 { padding-left:500px; }

	.prefix_26 { padding-left:520px; }

	.prefix_27 { padding-left:540px; }

	.prefix_28 { padding-left:560px; }

	.prefix_29 { padding-left:580px; }

	.prefix_30 { padding-left:600px; }

	.prefix_31 { padding-left:620px; }

	.prefix_32 { padding-left:640px; }

	.prefix_33 { padding-left:660px; }

	.prefix_34 { padding-left:680px; }

	.prefix_35 { padding-left:700px; }

	.prefix_36 { padding-left:720px; }

	.prefix_37 { padding-left:740px; }

	.prefix_38 { padding-left:760px; }

	.prefix_39 { padding-left:780px; }

	.prefix_40 { padding-left:800px; }

	.prefix_41 { padding-left:820px; }

	.prefix_42 { padding-left:840px; }

	.prefix_43 { padding-left:860px; }

	.prefix_44 { padding-left:880px; }

	.prefix_45 { padding-left:900px; }

	.prefix_46 { padding-left:920px; }

	.prefix_47 { padding-left:940px; }

	.suffix_1 { padding-right:20px; }

	.suffix_2 { padding-right:40px; }

	.suffix_3 { padding-right:60px; }

	.suffix_4 { padding-right:80px; }

	.suffix_5 { padding-right:100px; }

	.suffix_6 { padding-right:120px; }

	.suffix_7 { padding-right:140px; }

	.suffix_8 { padding-right:160px; }

	.suffix_9 { padding-right:180px; }

	.suffix_10 { padding-right:200px; }

	.suffix_11 { padding-right:220px; }

	.suffix_12 { padding-right:240px; }

	.suffix_13 { padding-right:260px; }

	.suffix_14 { padding-right:280px; }

	.suffix_15 { padding-right:300px; }

	.suffix_16 { padding-right:320px; }

	.suffix_17 { padding-right:340px; }

	.suffix_18 { padding-right:360px; }

	.suffix_19 { padding-right:380px; }

	.suffix_20 { padding-right:400px; }

	.suffix_21 { padding-right:420px; }

	.suffix_22 { padding-right:440px; }

	.suffix_23 { padding-right:460px; }

	.suffix_24 { padding-right:480px; }

	.suffix_25 { padding-right:500px; }

	.suffix_26 { padding-right:520px; }

	.suffix_27 { padding-right:540px; }

	.suffix_28 { padding-right:560px; }

	.suffix_29 { padding-right:580px; }

	.suffix_30 { padding-right:600px; }

	.suffix_31 { padding-right:620px; }

	.suffix_32 { padding-right:640px; }

	.suffix_33 { padding-right:660px; }

	.suffix_34 { padding-right:680px; }

	.suffix_35 { padding-right:700px; }

	.suffix_36 { padding-right:720px; }

	.suffix_37 { padding-right:740px; }

	.suffix_38 { padding-right:760px; }

	.suffix_39 { padding-right:780px; }

	.suffix_40 { padding-right:800px; }

	.suffix_41 { padding-right:820px; }

	.suffix_42 { padding-right:840px; }

	.suffix_43 { padding-right:860px; }

	.suffix_44 { padding-right:880px; }

	.suffix_45 { padding-right:900px; }

	.suffix_46 { padding-right:920px; }

	.suffix_47 { padding-right:940px; }

	.push_1 { left:20px; }

	.push_2 { left:40px; }

	.push_3 { left:60px; }

	.push_4 { left:80px; }

	.push_5 { left:100px; }

	.push_6 { left:120px; }

	.push_7 { left:140px; }

	.push_8 { left:160px; }

	.push_9 { left:180px; }

	.push_10 { left:200px; }

	.push_11 { left:220px; }

	.push_12 { left:240px; }

	.push_13 { left:260px; }

	.push_14 { left:280px; }

	.push_15 { left:300px; }

	.push_16 { left:320px; }

	.push_17 { left:340px; }

	.push_18 { left:360px; }

	.push_19 { left:380px; }

	.push_20 { left:400px; }

	.push_21 { left:420px; }

	.push_22 { left:440px; }

	.push_23 { left:460px; }

	.push_24 { left:480px; }

	.push_25 { left:500px; }

	.push_26 { left:520px; }

	.push_27 { left:540px; }

	.push_28 { left:560px; }

	.push_29 { left:580px; }

	.push_30 { left:600px; }

	.push_31 { left:620px; }

	.push_32 { left:640px; }

	.push_33 { left:660px; }

	.push_34 { left:680px; }

	.push_35 { left:700px; }

	.push_36 { left:720px; }

	.push_37 { left:740px; }

	.push_38 { left:760px; }

	.push_39 { left:780px; }

	.push_40 { left:800px; }

	.push_41 { left:820px; }

	.push_42 { left:840px; }

	.push_43 { left:860px; }

	.push_44 { left:880px; }

	.push_45 { left:900px; }

	.push_46 { left:920px; }

	.push_47 { left:940px; }

	.pull_1 { right:20px; }

	.pull_2 { right:40px; }

	.pull_3 { right:60px; }

	.pull_4 { right:80px; }

	.pull_5 { right:100px; }

	.pull_6 { right:120px; }

	.pull_7 { right:140px; }

	.pull_8 { right:160px; }

	.pull_9 { right:180px; }

	.pull_10 { right:200px; }

	.pull_11 { right:220px; }

	.pull_12 { right:240px; }

	.pull_13 { right:260px; }

	.pull_14 { right:280px; }

	.pull_15 { right:300px; }

	.pull_16 { right:320px; }

	.pull_17 { right:340px; }

	.pull_18 { right:360px; }

	.pull_19 { right:380px; }

	.pull_20 { right:400px; }

	.pull_21 { right:420px; }

	.pull_22 { right:440px; }

	.pull_23 { right:460px; }

	.pull_24 { right:480px; }

	.pull_25 { right:500px; }

	.pull_26 { right:520px; }

	.pull_27 { right:540px; }

	.pull_28 { right:560px; }

	.pull_29 { right:580px; }

	.pull_30 { right:600px; }

	.pull_31 { right:620px; }

	.pull_32 { right:640px; }

	.pull_33 { right:660px; }

	.pull_34 { right:680px; }

	.pull_35 { right:700px; }

	.pull_36 { right:720px; }

	.pull_37 { right:740px; }

	.pull_38 { right:760px; }

	.pull_39 { right:780px; }

	.pull_40 { right:800px; }

	.pull_41 { right:820px; }

	.pull_42 { right:840px; }

	.pull_43 { right:860px; }

	.pull_44 { right:880px; }

	.pull_45 { right:900px; }

	.pull_46 { right:920px; }

	.pull_47 { right:940px; }
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}

.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0;
}

.clearfix {
	display:inline-block;
}

* html .clearfix {
	height:1%;
}

.clearfix {
	display:block;
}


