#banner {
  width: 880px;
  height: 280px;
  overflow: hidden;

  ul {
    width: 5000px;
    li {
      height: 280px;
      float: left;
      list-style: none;
      position: relative;
      div {
        top: 25%;
        left: 10px;
        position: absolute;
        h1 {
          display: inline;
          background: rgba(0,0,0,0.5);
        }
        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}