.lof-slidecontent, .lof-slidecontent a {
  color: #FFF;
}
.lof-slidecontent a.readmore {
  color: #58B1EA;
  font-size: 95%;
}
.lof-slidecontent {
  position: relative;
  overflow: hidden;
  border: #F4F4F4 solid 1px;
}
.lof-slidecontent .preload {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  text-align: center;
  background: #FFF;
}
.lof-slidecontent .preload div {
  height: 100%;
  width: 100%;
  background: transparent url(../IMG/slider/_slider/load-indicator.gif) no-repeat scroll 50% 50%;
}
.lof-main-outer {
  position: relative;
  height: 100%;
  width: 900px;
  z-index: 3px;
  overflow: hidden;
}
.lof-main-item-desc {
  z-index: 100px;
  position: absolute;
  top: 50px;
  left: 0px;
  width: 500px;
  height: auto;
}
.lof-main-item-desc h1 a {
  line-height: 60px;
  font-size: 40px;
}
.lof-main-item-desc h2 a {
  line-height: 40px;
}
.lof-main-item-desc h3 a {
  line-height: 34px;
}
.lof-main-item-desc h1 a, .lof-main-item-desc h2 a, .lof-main-item-desc h3 a {
  background: rgba(149, 211, 105, 0.85);
  padding: 2px 0px;
  text-decoration: none;
  font-family: $sans;
  font-weight: 100;
  color: #FFF;
}
.lof-main-item-desc h1 a b, .lof-main-item-desc h2 a b, .lof-main-item-desc h3 b {
  padding: 2px 3px;
  text-decoration: none;
  font-weight: 900;
}
.lof-main-item-desc h1 a:hover, .lof-main-item-desc h2 a:hover, .lof-main-item-desc h3 a:hover {
  text-decoration: underline;
}
.lof-main-item-desc h1 a:hover b, .lof-main-item-desc h2 a:hover b, .lof-main-item-desc h3 a:hover b {
  text-decoration: underline;
}
ul.lof-main-wapper {
  overflow: hidden;
  background: transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;
  padding: 0px;
  margin: 0;
  position: absolute;
  overflow: hidden;
}
ul.lof-main-wapper li {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  float: left;
  position: relative;
}
.lof-opacity li {
  position: absolute;
  top: 0;
  left: 0;
  float: inherit;
}
.lof-navigator-wapper {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 0px;
}
.lof-navigator-outer {
  position: relative;
  z-index: 100;
  height: 180px;
  width: 100px;
  overflow: hidden;
  color: #FFF;
  float: left;
}
ul.lof-navigator {
  top: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100px;
}
ul.lof-navigator li {
  cursor: hand;
  cursor: pointer;
  list-style: none;
  padding: 0;
  margin-left: 2px;
  overflow: hidden;
  float: left;
  display: block;
  background: url(../IMG/slider/thumbs/inactive.png) no-repeat;
  text-align: center;
}
ul.lof-navigator li.active, ul.lof-navigator li:hover {
  background: url(../IMG/slider/thumbs/active.png) no-repeat;
}
