.tip_body {
	display:none;
}

#subnav {
	text-align:center;
	width:880px;
	margin:0 0 10px 0;

	li {
		display:inline;
		list-style-type:none;
		padding:0 8px;
		font-weight:700;
		font-family: $serif;
		font-size:1.05em;
	}

	a {
		text-decoration:none;

		&:link {
			color:#000;
		}

		&:visited {
			color:#000;
		}

		&:hover {
			color:#7AC843;
		}
	}


} // end #subnav

.tip_whole {
	margin-bottom:2px;
	padding:10px;
	font-family: $sans;
}

.tip_header {
	margin:5px 10px;
}

.tip_title {
	display:inline;
	font-weight:300;
	cursor:pointer;
	text-transform:uppercase;
}

.tip_social {
	float:right;
}

.tip_social img {
	padding-left:3px;
}

.tip_body {
	border-top:#FFF thin solid;
	padding-top:20px;
	padding-left:10px;
	min-height:200px;
}

.tip_links {
	margin-top:25px;
}

.graph {
	margin-top:50px;
	height:150px;
	width:300px;
}

.tip_cost {
	font-size:120px;
}


