// Fonts
$sans: 'museo_sans', Helvetica, Arial, sans-serif;
$serif: 'museo_slab', Helvetica, Arial, sans-serif;
$body_par: Helvetica, Verdana, sans-serif;

// Colors
$power: rgba(255, 221, 21, .5);
$water: rgba(63, 168, 244, .5);
$paper: rgba(122, 200, 67, .5);
$white: rgb(255, 255, 255);
$dark: rgb(124, 136, 138);