<div  class="container_48">
	<div  class="grid_48">
		<div id="content" class="grid_44 push_2"><!--actual content-->
			<div id="main-left" class="grid_44 alpha"><!--Left main content -->
				<ul id="subnav">
					<li id="all"><a href="#">View All</a></li>
					<li id="easy"><a href="#">No-Cost Tips</a></li>
					<li id="medium"><a href="#">Low-Cost Tips</a></li>
					<li id="investment"><a href="#">Investments</a></li>
					<li id="water"><a href="#">Water Tips</a></li>
					<li id="power"><a href="#">Electricity Tips</a></li>
					<li id="paper"><a href="#">Paper Tips</a></li>
				</ul>
				<div class="tip_container">
					<% @tips.each do |t| %>
						<%= render 'tips/partials/single_tip', :single_tip => t %>
					<% end %>
				</div>
				<%= render 'tips/partials/suggest' %>
			</div> <!--end left main content -->
		</div>  <!-- end actual content -->
	</div>
</div>
<script>
(function(){
	var cont = $('#main-left');

	function remove_tips(exception) {
		$('.tip_whole', cont).not("." + exception ).hide();
	}

	//id of #subnav <li> has to mtch class of .tip_whole item for this to work
	$('#subnav li').not('#all').on('click', function(){
		id = $(this).attr('id');
		$("." + id, cont).show()
		remove_tips(id);
	});

	$('#all').on('click', function(e){
		e.preventDefault();
		$('.tip_whole', cont).show();
		$('.tip_body', cont).addClass('open');
	});

	$('.tip_header', cont).on('click', function() {
		if(!$('.tip_body').hasClass('open')) {
			$(this).next().addClass('open').end().children('h5').append('<a class="close">(close)</a>');
		}
	});

	$(cont).on('click', 'a.close',function(){
		$(this).parents('.tip_header').next().removeClass('open').end().end().remove();
	})
})();
</script>