<div  class="container_48">
	<div  class="grid_48">
		<div id="content" class="grid_44 push_2"><!--actual content-->
			<div id="main-left" class="grid_20 push_1 alpha"><!--Left main content -->
				<%= render 'form' %>
			</div>
			<div id="main-right" class="grid_21 push_3 omega">
			</div>
		</div>
	</div>
</div>
